.search-wrap form {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-wrap #search {
    border-radius: 50%;
    background-color: transparent;
    caret-color: var(--primaryRed);
    width: 2em;
    height: 2em;
    position: relative;
}

.search-wrap #clear {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--primaryRed);
}

.search-wrap #search:focus, .search-wrap #search:valid {
    background-color: var(--offWhite);
    border-radius: 0.25em;
    box-shadow: none;
    padding: 0.75em 1em;
    width: 100%;
    height: 5em;
    outline: none;
    border: 1px solid var(--primaryRed);
}

#searchIcon, #clear {
    cursor: pointer;
}